@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Open+Sans+Condensed:wght@300&family=Shadows+Into+Light&display=swap');


h1{
    font-family: 'Amatic SC', cursive;
    color: white;
    font-size: 80px;
    font-family: 'Amatic SC', cursive;
    background-color: #0d9587;
    text-align: center;
}

nav{
    background-color: white;
}

.nav-item{
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 5px;
}

.nav-pills .pill .nav-link:not(.active){
    background-color: navy;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
}

.nav-pills .pill .nav-link:hover{
    background-color: white;
    color: navy;
    border: 2px solid navy;
    border-radius: 8px;
}

.nav-pills .pill .nav-link{
    background-color: white;
    color: navy;
    border: 2px solid navy;
    border-radius: 8px;
}

body{
    font-family:'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

:any-link{
    color:#0000FF;
}

@media print{
    nav{
        display: none;
    }
}

.list-group-item{
    border: 0px;
}

.bg-primary{
    background-color: white !important;
    font: black !important;
}

.bg-secondary{
    background-color: navy !important;
    font: white;
}

.bg-success{
    background-color: #0d9587 !important;
    font: white;
}

@media screen and (orientation: landscape){
    .announcements{
        float: right;
    }
}

@media screen and (orientation: portrait){
    .announcements{
        width: 100% !important;
    }
}

ul#cards {
    padding: 0;
  }
  
  li {
    display: inline;
    list-style: none;
    padding: 0;
    margin-right: 20px;
  }